@import "styles/variables.css";

@media (max-width: 480px) {
    header{
        background: linear-gradient(40deg, var(--turquoise-color), var(--cyan-color));
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 40px;
    }
    
    .logo{
        border-radius: 10px;
        height: 45px;
    }
    
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 0px 0px;
    }
    
    header ul li{
        display: inline;
    }
    
    header ul li a{
        text-decoration: none;
        padding: 0.1rem 0.5rem;
        display: block;
        color: var(--black-color);
    }
    
    header ul li a:hover{
        color: var(--purple-color);
    }
    
    body{
        background: linear-gradient(40deg,var(--black-color), var(--blaclkLite-color), var(--black-color));
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main{
        margin: 20px;
        flex: 1 1 0;
        word-wrap:break-word;
    }

    .imgProjeto{
        height: 150px;
        width: 275px
    }
    
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(40deg,var(--cyan-color), var(--turquoise-color));
    }
    
    main p, main h2{
        color: var(--cyan-color);
    }

    li,footer p{
        font-size: 20px
    }
    
    h3{
        color: var(--turquoise-color);
    }
    
    
    h1{
        color: var(--turquoise-color);
        font-size: 30px;
    }

    main p{
        font-size: large;
    }

    main ul{
        list-style: none;
    }

    #listTec{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoTec{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        /* animation: floating 3s ease-in-out infinite; */
        /* transition: transform 0.5s ease; */
    }

    .logoTec a{
        animation: floating 3s ease-in-out infinite;
        /* transition: transform 0.5s ease; */
    }
    
    /* .logoTec a:hover{
       transform: scale(1.5);
    } */

    @keyframes floating{
        0%, 100%{
            transform: translate(0, 0px);
        }
        50%{
            transform: translate(0, 50px);
        }
    }
}

@media (min-width: 481px) and (max-width: 1199px){
    header{
        background: linear-gradient(40deg,var(--turquoise-color), var(--cyan-color));
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 40px;
        justify-content: space-between;
    }
    
    .logo{
        border-radius: 10px;
        height: 45px;
    }
    
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    header ul li{
        display: inline;
    }
    
    header ul li a{
        text-decoration: none;
        padding-right: 60px;
        display: block;
        color: var(--black-color);
    }
    
    header ul li a:hover{
        color: var(--purple-color);
    }
    
    body{
        background: linear-gradient(40deg, var(--black-color), var(--blaclkLite-color), var(--black-color));
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main{
        flex: 1 1 0;
    }
    
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(40deg, var(--cyan-color), var(--turquoise-color));
    }
    
    main p, main h2{
        color: var(--cyan-color);
    }
    
    h3{
        color: var(--turquoise-color);
    }
    
    
    h1{
        color: var(--turquoise-color);
        font-size: 30px;
    }

    li, h1, h2, h3, p{
        font-size: large;
    }

    main ul{
        list-style: none;
    }

    #listTec{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoTec{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        /* animation: floating 3s ease-in-out infinite; */
        /* transition: transform 0.5s ease; */
    }

    .logoTec a{
        animation: floating 3s ease-in-out infinite;
        /* transition: transform 0.5s ease; */
    }
    
    /* .logoTec a:hover{
       transform: scale(1.5);
    } */

    @keyframes floating{
        0%, 100%{
            transform: translate(0, 0px);
        }
        50%{
            transform: translate(0, 50px);
        }
    }

}

@media (min-width: 1200px){
    header{
        background: linear-gradient(40deg,var(--turquoise-color), var(--cyan-color));
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 40px;
    }
    
    .logo{
        border-radius: 10px;
        height: 45px;
    }
    
    header ul{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    header ul li{
        display: inline;
    }
    
    header ul li a{
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        color: var(--black-color);
    }
    
    header ul li a:hover{
        color: var(--purple-color);
    }
    
    body{
        background: linear-gradient(40deg, var(--black-color), var(--blaclkLite-color), var(--black-color));
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main{
        flex: 1 1 0;
    }
    
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(40deg,var(--cyan-color), var(--turquoise-color));
    }
    
    main p, main h2{
        color: var(--cyan-color);
        font-size: large;
    }
    
    h3{
        color: var(--turquoise-color);
    }
    
    
    h1{
        color: var(--turquoise-color);
        font-size: 30px;
    }

    /* main ul{
        list-style: none;
    } */

    #listTec{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoTec{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        /* animation: floating 3s ease-in-out infinite; */
        /* transition: transform 0.5s ease; */
    }

    .logoTec a{
        animation: floating 3s ease-in-out infinite;
        /* transition: transform 0.5s ease; */
    }
    
    /* .logoTec a:hover{
       transform: scale(1.5);
    } */

    @keyframes floating{
        0%, 100%{
            transform: translate(0, 0px);
        }
        50%{
            transform: translate(0, 50px);
        }
    }
    
    #projetos li:hover{
        background-color: var(--purpleLite-color);
        border-radius: 30px;
        padding: 15px;
        border: solid 2px var(--cyan-color);
    }
}