a{
    color: white;
}

.imageLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionInfo{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 20px;
}