:root {
    --white-color: #ffffff;
    --black-color: black;
    --blaclkLite-color: #111111;
    --blackAlmost-color: rgb(25, 25, 25);
    --turquoise-color: #28bdd0;
    --cyan-color: #36ffd6;
    --purple-color: rgb(153, 0, 255);
    --purpleLite-color: rgb(23, 9, 48);
}